/* Variables */ /*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* Html, Body */
html {
  box-sizing: border-box;
}

.body {
  font-family: "roboto", sans-serif;
  background-color: #ffffff;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.header-link {
  line-height: 1.14;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Logo */
.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.accent {
  color: #212121;
}

/* Site-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #757575;
}
.site-nav.list {
  position: relative;
  margin-left: 93px;
  padding-left: 0;
}
.site-nav.list__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}
.site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: #212121;
  transition: color 250ms var(--transition-timing-function);
}
.site-nav__link.current {
  color: #2196f3;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

/* Link.current */
.link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

/* Site-connect */
.site-connect.list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.site-connect.list__item {
  margin-right: 50px;
}
.site-connect.list__item:last-child {
  margin-right: 0px;
}
.site-connect.list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms var(--transition-timing-function);
}
.site-connect.list__link:hover, .site-connect.list__link:focus {
  color: #2196f3;
}

/* Site-connect-icons */
.item .mailto-icon,
.item .tell-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms var(--transition-timing-function);
}

.mailto-icon:hover,
.mailto-icon:focus {
  fill: #2196f3;
}

.tell-icon:hover,
.tell-icon:focus {
  fill: #2196f3;
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/img-001.jpg);
  background-color: #2f303a;
}

/* Hero-title */
.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin: 0 auto 30px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Button */
.button {
  margin-top: margin-top;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.button.primary {
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}
.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

/* Sections */
.section-primary-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-secondary-title {
  text-align: start;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #212121;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Section-features */
.section-features {
  padding: 94px 0;
}
.section-features-list {
  display: flex;
  gap: 30px;
}
.section-features-list__item {
  display: block;
  min-width: 270px;
}
.section-features__txt {
  text-align: start;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.section-features .features-item {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
  background: #f5f4fa;
}
.section-features .features-icon {
  width: 70px;
  height: 70px;
}

/* Section-description */
.section-description {
  padding-bottom: 94px;
}

.description .list-item {
  width: 370px;
}

.item-thumb {
  position: relative;
}
.item-thumb-wrap {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.item-thumb-text {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Section-team */
.section-team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.section-team__list {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}

.team-list {
  gap: 30px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.section-member {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.section-role {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

/* Socialnet */
.team-socialnet-list .list {
  display: flex;
  margin-bottom: 35px;
  gap: 10px;
  justify-content: center;
  background-color: #ffffff;
}
.team-socialnet-list .list-item {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.team-socialnet-list .list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function);
}
.team-socialnet-list .list .team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill, background-color 250ms var(--transition-timing-function);
}
.team-socialnet-list .list-link:hover, .team-socialnet-list .list-link:focus {
  background-color: #2196f3;
}
.team-socialnet-list .list-link:hover .team-icon, .team-socialnet-list .list-link:focus .team-icon {
  background-color: #2196f3;
  fill: #ffffff;
}

/* Clients */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}
.section-clients-logo {
  display: flex;
  margin-top: 50px;
}
.section-clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.section-clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--current-color);
  background-color: #ffffff;
  transition: border 250ms var(--transition-timing-function);
}
.section-clients-link:hover, .section-clients-link:focus {
  border: 1px solid var(--accent-color);
}
.section-clients-link:hover .section-clients-icon, .section-clients-link:focus .section-clients-icon {
  fill: #2196f3;
}
.section-clients-item:last-child {
  margin-right: 0;
}
.section-clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms var(--transition-timing-function);
}

/* Footer */
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-list.list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-list__link {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--transition-timing-function);
}
.footer-list__map-link {
  color: #ffffff;
}
.footer-list__link:hover, .footer-list__link:focus {
  color: #2196f3;
}
.footer .address {
  margin-top: 20px;
}
.footer-link {
  display: block;
  margin-left: 70px;
  text-align: start;
  width: 206px;
  height: 80px;
}
.footer-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Footer-socialnet */
.footer-socialnet {
  display: flex;
  width: 206px;
  height: 44px;
  justify-content: space-evenly;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.socialnet-list {
  display: flex;
  gap: 10px;
  justify-items: center;
}
.socialnet-list-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.socialnet-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms var(--transition-timing-function);
}
.socialnet-list-link:hover, .socialnet-list-link:focus {
  background-color: #2196f3;
}
.socialnet-list-link:hover .footer-team-icon, .socialnet-list-link:focus .footer-team-icon {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer-team-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill, background-color 250ms var(--transition-timing-function);
}

.footer__accent {
  color: #ffffff;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden__modal {
  transform: translate(-50%, -50%) scale(1.3) rotate(360deg);
}

.modal {
  position: absolute;
  text-align: center;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  transition: transform 250ms var(--transition-timing-function);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-title {
  margin: 0 0 12px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: #ffffff;
  transition: fill 250ms var(--transition-timing-function);
}
.close-button-icon {
  position: absolute;
  transform: translate(-50%, -50%);
}
.close-button-button:hover, .close-button-button:focus {
  fill: #2196f3;
}

/* Form-footer */
.form {
  display: block;
  width: 570px;
  height: 86px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.input-mail {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.button-submit {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}
.button-submit .button-submit::after {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
  background-size: contain;
  fill: #2196f3;
}

/* Form-modal */
.form-field {
  display: flex;
}

.form-field input::-moz-placeholder {
  display: block;
}

.form-field input:-ms-input-placeholder {
  display: block;
}

.form-field input::placeholder {
  display: block;
}

.feedback {
  display: block;
  width: 448px;
  height: 342px;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.feedback-field {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: start;
}
.feedback-input {
  height: 40px;
  padding-left: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
  transition: border 250ms var(--transition-timing-function);
}
.feedback-input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}
.feedback-input:focus-within + .feedback-icon {
  fill: #2196f3;
}
.feedback-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  margin-left: 12px;
  transition: fill 250ms var(--transition-timing-function);
}

.comment-input {
  padding: 12px 16px;
  height: 120px;
  margin-bottom: 20px;
  margin-top: 4px;
  resize: none;
  border: none;
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
}
.comment-input:focus-within {
  border: 1px solid var(--accent-color);
  outline: none;
}

.agreement-field {
  position: relative;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
.agreement-field-term {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 3px;
  color: #2196f3;
}
.agreement-field-icon {
  border: 1px solid rgb(33, 33, 33);
  border-radius: 2px;
  transition: 250ms var(--transition-timing-function);
}

.checkbox-icon {
  position: absolute;
  top: 12%;
  left: 2%;
  width: 16px;
  height: 15px;
}
.checkbox-icon:checked + .agreement-icon {
  background-color: #2196f3;
  border: none;
}

.feedback-button-submit {
  margin-top: 30px;
  height: 50px;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}/*# sourceMappingURL=main.css.map */