* Socialnet */ $display: flex;
$prime-width: 44px;
$prime-height: 44px;
$sec-width: 100%;
$sec-height: 100%;
$icon-width: 20px;
$icon-height: 20px;
$border-radius: 50%;
$margin-bottom: 35px;
$gap: 10px;
$justify-content: center;
$align-items: center;
$background-color: #ffffff;
$accent-background-color: #2196f3;
$prime-fill: #ffffff;
$sec-fill: #afb1b8;
$primary-transition: background-color 250ms var(--transition-timing-function);
$secondary-transition: fill, background-color 250ms var(--transition-timing-function);

.team-socialnet-list .list {
    display: $display;
    margin-bottom: $margin-bottom;
    gap: $gap;
    justify-content: $justify-content;
    background-color: $background-color;

    &-item {
        display: $display;
        width: $prime-width;
        height: $prime-height;
        border-radius: $border-radius;
        background-color: $background-color;
        justify-content: $justify-content;
        align-items: $align-items;
    }

    &-link {
        width: $sec-width;
        height: $sec-height;
        display: $display;
        align-items: $align-items;
        justify-content: $justify-content;
        border-radius: $border-radius;
        transition: $primary-transition;
    }

    .team-icon {
        width: $icon-width;
        height: $icon-height;
        fill: $sec-fill;
        transition: $secondary-transition;
    }

    &-link:hover,
    &-link:focus {
        background-color: $accent-background-color;
    }

    &-link:hover .team-icon,
    &-link:focus .team-icon {
        background-color: $accent-background-color;
        fill: $prime-fill;
    }
}