$white-color: #ffffff;
$body-font-family: "roboto", sans-serif;

.body {
    font-family: $body-font-family;
    background-color: $white-color;
}

/* Header */

$header-border-bottom: 1px solid #ececec;

.header {
    border-bottom: $header-border-bottom;
}

.header-container {
    display: flex;
}

$padding: 0 15px;
$margin: 0 auto;
$max-width: 1200px;

.container {
    padding: $padding;
    margin: $margin;
    width: $max-width;
}

$line-height: 1.14;

.header-link {
    line-height: $line-height;
}

$list-style: none;

.list {
    list-style: $list-style;
}

$text-decoration: none;

.link {
    text-decoration: $text-decoration;
}

$font-family: "raleway", sans-serif;
$font-weight: 700;
$font-size: 26px;
$line-height: 1.19;
$letter-spacing: 0.03em;
$color: #2196f3;
$color-accent: #212121;

.logo {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

.accent {
    color: $color-accent;
}

/* Site-nav */

$primary-display: flex;
$secondary-display: block;
$align-items: center;
$font-weight: 500;
$font-size: 14px;
$line-height: 1.4;
$letter-spacing: 0.02em;
$secondary-text-color: #757575;
$primary-text-color: #212121;
$accent-color: #2196f3;
$position: relative;
$margin-left: 93px;
$padding: 32px 0;
$padding-left: 0;
$first-margin-right: 50px;
$last-margin-right: 0;
$transition: color 250ms var(--transition-timing-function);

.main-nav {
    display: $display;
    align-items: $align-items;
}

.site-nav {
    display: $primary-display;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $secondary-text-color;

    &.list {
        position: $position;
        margin-left: $margin-left;
        padding-left: $padding-left;

        &__item {
            margin-right: $first-margin-right;
        }
    }

        &__item:last-child {
        margin-right: $last-margin-right;
    }

    &__link {
        position: $position;
        display: $secondary-display;
        padding: $padding;
        color: $primary-text-color;
        transition: $transition;
    }

    &__link.current {
        color: $accent-color;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }
}

$content: "";
$position: absolute;
$bottom: -1px;
$display: block;
$width: 100%;
$height: 4px;
$border-radius: 2px;
$background: #2196f3;

.link.current::after {
    content: $content;
    position: $position;
    bottom: $bottom;
    display: $display;
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background: $background;
}

$display: flex;
$align-items: center;
$margin-left: auto;
$first-margin-right: 50px;
$last-margin-right: 0px;
$font-weight: 500;
$font-size: 14px;
$line-height: 1.4;
$letter-spacing: 0.02em;
$color: #757575;
$accent-color: #2196f3;
$transition: color 250ms var(--transition-timing-function);

.site-connect.list {
    display: $display;
    align-items: $align-items;
    margin-left: $margin-left;

    &__item {
        margin-right: $margin-right;
    }

    &__item:last-child {
        margin-right: $last-margin-right;
    }

    &__link {
        display: $display;
        align-items: $align-items;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        color: $color;
        transition: $transition;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }
}

$vertical-align: middle;
$margin-right: 10px;
$current-fill: currentColor;
$transition: fill 250ms var(--transition-timing-function);

.item .mailto-icon,
.item .tell-icon {
    vertical-align: $vertical-align;
    margin-right: $margin-right;
    fill: $current-fill;
    transition: $transition;
}

$fill: #2196f3;

.mailto-icon:hover,
.mailto-icon:focus {
    fill: $fill;
}

$fill: #2196f3;

.tell-icon:hover,
.tell-icon:focus {
    fill: $fill;
}

/* Hero */
$max-width: 1600px;
$height: 600px;
$margin: 0 auto;
$text-align: center;
$padding: 200px 0;
$background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
url(../images/hero/img-001.jpg);
$background-color: #2f303a;

.hero {
    max-width: $max-width;
    height: $height;
    margin: $margin;
    text-align: $text-align;
    padding: $padding;
    background-image: $background-image;
    background-color: $background-color;
}

$max-width: 696px;
$font-weight: 900;
$font-size: 44px;
$margin: 0 auto 30px;
$line-height: 1.36;
$letter-spacing: 0.06em;
$text-transform: uppercase;
$color: #ffffff;

.hero-title {
    max-width: $max-width;
    font-weight: $font-weight;
    font-size: $font-size;
    margin: $margin;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $color;
}

/* Button */

$margin-top: 0;
$border-radius: 4px;
$padding: 10px 32px;
$font-family: "roboto", sans-serif;
$font-weight: 700;
$font-size: 16px;
$line-height: 1.88;
$letter-spacing: 0.06em;
$border-color: transparent;
$color: #ffffff;
$background-color: #2196f3;
$cursor: pointer;
$transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function);
$active-background-color: #188ce8;

.button {
    margin-top: margin-top;
    border-color: $border-color;
    border-radius: $border-radius;
    padding: $padding;
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
    background-color: $background-color;
    cursor: $cursor;

    &.primary {
    color: $color;
    background-color: $background-color;
    transition: $transition;
    }

    &.secondary {
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    transition: $transition
    }

    &:hover,
    &:focus {
    background-color: $active-background-color;
    }
}

/* Sections */

$prim-text-align: center;
$sec-text-align: start;
$margin-top: 0;
$prim-margin-bottom: 50px;
$sec-margin-bottom: 10px;
$font-weight: 700;
$prim-font-size: 36px;
$sec-font-size: 14px;
$line-height: 1.17;
$letter-spacing: 0.03em;
$text-transform: uppercase;
$color: #212121;

.section-primary-title {
    text-align: $prim-text-align;
    margin-top: $margin-top;
    margin-bottom: $prim-margin-bottom;
    font-weight: $font-weight;
    font-size: $prim-font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

.section-secondary-title {
    text-align: $sec-text-align;
    margin-top: $margin-top;
    margin-bottom: $sec-margin-bottom;
    font-weight: $font-weight;
    font-size: $sec-font-size;
    line-height: $line-height;
    text-transform: $text-transform;
    color: $color;
}

/* Section-features */

$position: absolute;
$white-space: nowrap;
$width: 1px;
$height: 1px;
$overflow: hidden;
$border: 0;
$padding: 0;
$clip: rect(0 0 0 0);
$clip-path: inset(50%);
$margin: -1px;

.visually-hidden {
    position: $position;
    white-space: $white-space;
    width: $width;
    height: $height;
    overflow: $overflow;
    border: $border;
    padding: $padding;
    clip: $clip;
    clip-path: $clip-path;
    margin: $margin;
}

$primary-padding: 94px 0;
$secondary-padding: 25px 100px;
$primary-display: flex;
$secondary-display: block;
$height: 120px;
$min-width: 270px;
$gap: 30px;
$text-align: start;
$margin: 0;
$margin-bottom: 30px;
$border-radius: 4px;
$font-weight: 400;
$font-size: 14px;
$line-height: 1.71;
$color: #757575;
$background:  #f5f4fa;
$icon-width: 70px;
$icon-height: 70px;

.section-features {
    padding: $primary-padding;

    &-list {
    display: $primary-display;
    gap: $gap;
    }

    &-list__item {
    display: $secondary-display;
    min-width: $min-width;
    }
    &__txt {
    text-align: $text-align;
    margin: $margin;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    }

.features-item {
    width: $min-width;
    height: $height;
    margin-bottom: $margin-bottom;
    padding: $secondary-padding;
    border-radius: $border-radius;
    background: $background;
}

.features-icon {
    width: $icon-width;
    height: $icon-height;
}
}

/* Section-description */

$primary-position: relative;
$secondary-position: absolute;
$top: 50%;
$left: 50%;
$transform: translate(-50%, -50%);
$margin: 0 auto;
$padding-bottom: 94px;
$thumb-bottom: 0;
$width: 370px;
$height: 70px;
$font-size: 14px;
$line-height: 1.14;
$text-align: center;
$letter-spacing: 0.03em;
$text-transform: uppercase;
$color: #ffffff;;
$background-color: rgba(47, 48, 58, 0.8);

.section-description {
    padding-bottom: $padding-bottom;
}

.description .list-item {
    width: $width;
}

.item-thumb {
    position: $primary-position;

    &-wrap {
    position: $secondary-position;
    bottom: $thumb-bottom;
    width: $width;
    height: $height;
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $color;
    background-color: $background-color;
    }

    &-text {
    position: $secondary-position;
    margin: $margin;
    top: $top;
    left: $left;
    transform: $transform;
    }
}

/* Section-team */

$padding: 94px 0;
$text-align: center;
$prime-margin-top: 30px;
$prime-margin-bottom: 10px;
$sec-margin-top: 0;
$sec-margin-bottom: 30px;
$font-weight: 500;
$prime-font-size: 14px;
$prime-line-height: 1.14;
$sec-font-size: 16px;
$sec-line-height: 1.19;
$letter-spacing: 0.03em;
$gap: 30px;
$width: 270px;
$box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
$border-radius: 0px 0px 4px 4px;
$primary-color: #212121;
$secondary-color: #757575;
$background: #f5f4fa;
$background-color: #ffffff;

.section-team {
    padding: $padding;
    background-color: $background;

    &__list {
    font-size: $prime-font-size;
    line-height: $prime-line-height;
    letter-spacing: $letter-spacing;
    color: $primary-color;
    background-color: $background;
    }
}

.team-list {
    gap: $gap;
    width: $width;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: $background-color;
}

.section-member {
    text-align: $text-align;
    margin-top: $prime-margin-top;
    margin-bottom: $prime-margin-bottom;
    font-weight: $font-weight;
    font-size: $sec-font-size;
    line-height: $sec-line-height;
    color: $primary-color;
}

.section-role {
    text-align: $text-align;
    margin-top: $sec-margin-top;
    margin-bottom: $sec-margin-bottom;
    font-size: $sec-font-size;
    line-height: $sec-line-height;
    color: $secondary-color;
}

/* Socialnet */

$display: flex;
$prime-width: 44px;
$prime-height: 44px;
$sec-width: 100%;
$sec-height: 100%;
$icon-width: 20px;
$icon-height: 20px;
$border-radius: 50%;
$margin-bottom: 35px;
$gap: 10px;
$justify-content: center;
$align-items: center;
$background-color: #ffffff;
$accent-background-color: #2196f3;
$prime-fill: #ffffff;
$sec-fill:  #afb1b8;
$primary-transition: background-color 250ms var(--transition-timing-function);
$secondary-transition: fill, background-color 250ms var(--transition-timing-function);

.team-socialnet-list .list {
    display: $display;
    margin-bottom: $margin-bottom;
    gap: $gap;
    justify-content: $justify-content;
    background-color: $background-color;

    &-item {
    display: $display;
    width: $prime-width;
    height: $prime-height;
    border-radius: $border-radius;
    background-color: $background-color;
    justify-content: $justify-content;
    align-items: $align-items;
    }

    &-link {
    width: $sec-width;
    height: $sec-height;
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    border-radius: $border-radius;
    transition: $primary-transition;
    }

    .team-icon {
    width: $icon-width;
    height: $icon-height;
    fill: $sec-fill;
    transition: $secondary-transition;
    }

    &-link:hover,
    &-link:focus {
     background-color: $accent-background-color;
    }

    &-link:hover .team-icon,
    &-link:focus .team-icon {
    background-color: $accent-background-color;
    fill: $prime-fill;
    }
}

/* Clients */

$display: flex;
$align-items: center;
$justify-content: center;
$margin-top: 50px;
$padding-top: 94px;
$padding-bottom: 94px;
$prime-width: 170px;
$prime-height: 92px;
$sec-width: 100%;
$sec-height: 100%;
$icon-width: 106px;
$icon-height: 60px;
$prime-margin-right: 30px;
$sec-margin-right: 0;
$border-radius: 4px;
$border: 1px solid var(--current-color);
$accent-border: 1px solid var(--accent-color);
$font-size: 24px;
$line-height: 1.17;
$text-align: center;
$prime-fill: #2196f3;
$sec-fill: #afb1b8;
$color: #212121;
$background-color: #ffffff;
$secondary-transition: fill 250ms var(--transition-timing-function);
$primary-transition: border 250ms var(--transition-timing-function);

.section-clients {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    font-size: $font-size;
    line-height: $line-height;
    text-align: $text-align;
    color: $color;

    &-logo {
    display: $display;
    margin-top: $margin-top;
    }

    &-item {
    width: $prime-width;
    height: $prime-height;
    margin-right: $prime-margin-right;
    }

    &-link {
    width: $sec-width;
    height: $sec-height;
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    border-radius: $border-radius;
    border: $border;
    background-color: $background-color;
    transition: $primary-transition;
    }

    &-link:hover,
    &-link:focus {
    border: $accent-border;
    }

    &-link:hover &-icon,
    &-link:focus &-icon {
    fill: $prime-fill;
    }

    &-item:last-child {
    margin-right: $sec-margin-right;
    }

    &-icon {
    width: $icon-width;
    height: $icon-height;
    fill: $sec-fill;
    transition: $secondary-transition;
    }
}

/* Footer */

$primary-display: flex;
$secondary-display: block;
$align-items: baseline;
$flex-direction: column;
$gap: 9px;
$width: 206px;
$height: 80px;
$padding-top: 60px;
$padding-bottom: 60px;
$prime-margin-top: 20px;
$sec-margin-top: 0;
$margin-bottom: 9px;
$margin-left: 70px;
$font-style: normal;
$prime-font-weight: 400;
$sec-font-weight: 700;
$font-size: 14px;
$line-height: 1.14;
$letter-spacing: 0.03em;
$text-transform: uppercase;
$text-align: start;
$line-height: 1.71;
$letter-spacing: 0.03em;
$prime-color: rgba(255, 255, 255, 0.6);
$sec-color: #ffffff;
$accent-color: #2196f3;
$background-color: #2f303a;
$transition: color 250ms var(--transition-timing-function);

.footer {
    display: $primary-display;
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    background-color: $background-color;

&-wrap {
    display: $primary-display;
    align-items: $align-items;
}

&-list.list {
    display: $primary-display;
    flex-direction: $flex-direction;
    gap: $gap;
}

&-list__link {
    margin-bottom: $margin-bottom;
    font-style: $font-style;
    font-weight: $prime-font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $prime-color;
    transition: $transition;
}

&-list__map-link {
    color: $sec-color;
}

&-list__link:hover,
&-list__link:focus {
    color: $accent-color;
}

.address {
    margin-top: $prime-margin-top;
}

&-link {
    display: $secondary-display;
    margin-left: $margin-left;
    text-align: $text-align;
    width: $width;
    height: $height;
}

&-title {
    margin-top: $sec-margin-top;
    font-weight: $sec-font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $sec-color;
}
}

/* Footer-socialnet */

$display: flex;
$gap: 10px;
$justify-items: center;
$align-items: center;
$prime-justify-content: space-evenly;
$sec-justify-content: center;
$margin-left: 0;
$margin-right: 0;
$margin-top: 20px;
$main-width: 100%;
$main-height: 100%;
$prime-width: 206px;
$prime-height: 44px;
$sec-width: 44px;
$sec-height: 44px;
$icon-width: 20px;
$icon-height: 20px;
$border-radius: 50%;
$fill: #ffffff;
$color: #ffffff;
$accent-background-color: #2196f3;
$background-color: rgba(255, 255, 255, 0.1);
$prime-transition: background-color 250ms var(--transition-timing-function);
$sec-transition: fill,
    background-color 250ms var(--transition-timing-function);

.footer-socialnet {
    display: $display;
    width: $prime-width;
    height: $prime-height;
    justify-content: $prime-justify-content;
    margin-left: $margin-left;
    margin-right: $margin-right;
    margin-top: $margin-top;
}

.socialnet-list {
    display: $display;
    gap: $gap;
    justify-items: $justify-items;

    &-item {
    width: $sec-width;
    height: $sec-height;
    border-radius: $border-radius;
    background-color: $background-color;
    }

    &-link {
    width: $main-width;
    height: $main-height;
    display: $display;
    align-items: $align-items;
    justify-content: $sec-justify-content;
    border-radius: $border-radius;
    transition: $prime-transition;
    }

    &-link:hover,
    &-link:focus {
    background-color: $accent-background-color;
    }

    &-link:hover .footer-team-icon,
    &-link:focus .footer-team-icon {
    background-color: $accent-background-color;
    fill: $fill;
    }
}

.footer-team-icon {
    width: $icon-width;
    height: $icon-height;
    fill: $fill;
    transition: $sec-transition;
}

.footer__accent {
    color: $color;
}

/* Modal */

$prime-position: fixed;
$sec-position: absolute;
$text-align: center;
$padding: 40px;
$margin: 0 0 12px;
$btn-margin-top: 8px;
$btn-margin-right: 8px;
$prime-top: 0;
$prime-left: 0;
$sec-top: 50%;
$sec-left: 50%;
$prime-width: 100%;
$prime-height: 100%;
$sec-width: 528px;
$sec-height: 581px;
$btn-width: 30px;
$btn-height: 30px;
$zero-opacity: 0;
$visibility: hidden;
$pointer-events: none;
$opacity: 1;
$prime-transition: opacity 250ms var(--transition-timing-function),
visibility 250ms var(--transition-timing-function);
$prime-transform: translate(-50%, -50%) scale(1.3) rotate(360deg);
$sec-transform: translate(-50%, -50%) scale(1) rotate(0);
$border: 1px solid rgba(0, 0, 0, 0.1);
$prime-border-radius: 4px;
$sec-border-radius: 50%;
$transform: translate(-50%, -50%);
$sec-transition: transform 250ms var(--transition-timing-function);
$font-weight: 700;
$font-size: 20px;
$line-height: 1.15;
$letter-spacing: 0.03em;
$color: #212121;
$fill: #2196f3;
$prime-background-color: rgba(0, 0, 0, 0.2);
$sec-background-color: rgba(255, 255, 255, 1);
$btn-background-color: #ffffff;
$btn-transition: fill 250ms var(--transition-timing-function);

.backdrop {
    position: $prime-position;
    top: $prime-top;
    left: $prime-left;
    width: $prime-width;
    height: $prime-height;
    background-color: $prime-background-color;
    opacity: $opacity;
    transition: $prime-transition;
    
&.is-hidden {
    opacity: $zero-opacity;
    visibility: $visibility;
    pointer-events: $pointer-events;
}

&.is-hidden__modal {
    transform: $prime-transform;
}
}

.modal {
    position: $sec-position;
    text-align: $text-align;
    padding: $padding;
    top: $sec-top;
    left: $sec-left;
    transform: $sec-transform;
    width: $sec-width;
    height: $sec-height;
    border-radius: $prime-border-radius;
    background-color: $sec-background-color;
    transition: $sec-transition;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;

    &-title {
    margin: $margin;
    }
}

.close-button {
    position: $sec-position;
    top: $prime-top;
    right: $prime-right;
    border: $border;
    border-radius: $sec-border-radius;
    width: $btn-width;
    height: $btn-height;
    margin-top: $btn-margin-top;
    margin-right: $btn-margin-right;
    background-color: $btn-background-color;
    transition: $btn-transition;

    &-icon {
    position: $sec-position;
    transform: $transform;
    }

    &-button:hover,
    &-button:focus {
    fill: $fill;
    }
}

/* Form-footer */

$prime-display: block;
$sec-display: flex;
$btn-display: inline-block;
$align-items: center;
$text-align: center;
$prime-width: 570px;
$prime-height: 86px;
$sec-width: 358px;
$sec-height: 50px;
$btn-width: 200px;
$btn-height: 50px;
$icon-width: 24px;
$icon-height: 24px;
$margin-left: 93px;
$margin-right: 12px;
$btn-margin-left: 10px;
$padding-left: 16px;
$btn-padding-left: 28px;
$border: 1px solid rgba(255, 255, 255, 0.3);
$btn-border: none;
$border-radius: 4px;
$prime-font-size: 14px;
$prime--height: 1.14;
$font-weight: 400;
$btn-font-weight: 700;
$sec-font-size: 16px;
$line-height: 1.3;
$btn-line-height: 1.18;
$letter-spacing: 0.03em;
$btn-letter-spacing: 0.06em;
$text-transform: uppercase;
$content: "";
$prime-color: #ffffff;
$sec-color: rgba(255, 255, 255, 0.6);
$background-color:  #2f303a;
$accent-background-color: #2196f3;
$background-image: url(../images/icon-send.svg);
$background-size: contain;

.form {
    display: $prime-display;
    width: $prime-width;
    height: $prime-height;
    margin-left: $margin-lef;
    font-size: $prime-font-size;
    line-height: $prime-line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $prime-color;
}

.input-mail {
    width: $sec-width;
    height: $sec-height;
    margin-right: $margin-right;
    border: $border;
    border-radius: $border-radius;
    font-weight: $font-weight;
    font-size: $sec-font-size;
    line-height: $line-height;
    padding-left: $padding-left;
    letter-spacing: $letter-spacing;
    color: $sec-color;
    background-color: $background-color;
   
}

.button-submit {
    display: $sec-display;
    align-items: $align-items;
    text-align: $text-align;
    width: $btn-width;
    height: $btn-height;
    padding-left: $btn-padding-left;
    border-radius: $border-radius;
    border: $btn-border;
    font-weight: $btn-font-weight;
    font-size: $font-size;
    line-height: $btn-line-height;
    letter-spacing: $btn-letter-spacing;
    color: $prime-color;
    background-color: $accent-background-color;

    .button-submit::after {
    content: $content;
    width: $icon-width;
    height: $icon-height;
    display: $btn-display;
    margin-left: $btn-margin-left;
    background-image: $background-image;
    background-size: $background-size;
    fill: $fill;
    }
}

/* Form-modal */

$primary-display: flex;
$secondary-display: block;
$primary-position: relative;
$secondary-position: absolute;
$top: 50%;
$align-items: center;
$text-align: start;
$padding-left: 40px;
$padding: 12px 16px;
$margin-top: 4px;
$margin-bottom: 10px;
$comm-margin-bottom: 20px;
$margin-left: 12px;
$flex-direction: column;
$border: 1px solid rgba(33, 33, 33, 0.2);
$accent-border: 1px solid var(--accent-color);
$outline: none;
$border-radius: 4px;
$comm-height: 120px;
$prime-width: 448px;
$prime-height: 342px;
$sec-height: 40px;
$icon-width: 18px;
$icon-height: 18px;
$prime-font-weight: 400;
$prime-font-size: 12px;
$prime-line-height: 14px;
$letter-spacing: 0.01em;
$resize: none;
$cursor: pointer;
$fill: #2196f3;
$color: #757575;
$prime-transition: border 250ms var(--transition-timing-function);
$sec-transition: fill 250ms var(--transition-timing-function);
$comm-color: rgba(117, 117, 117, 0.5);

.form-field {
    display: $primary-display;
}

.form-field input::placeholder {
    display: $secondary-display;
}

.feedback {
    display: $secondary-display;
    width: $prime-width;
    height: $prime-height;
    align-items: $align-items;
    font-weight: $prime-font-weight;
    font-size: $prime-font-size;
    line-height: $prime-line-height;
    letter-spacing: $letter-spacing;
    color: $color;

    &-field {
    position: $primary-position;
    display: $primary-display;
    margin-bottom: $margin-bottom;
    flex-direction: $flex-direction;
    text-align: $text-align;
    }

    &-input {
    height: $sec-height;
    padding-left: $padding-left;
    border: $border;
    border-radius: $border-radius;
    cursor: $cursor;
    margin-top: $margin-top;
    transition: $prime-transition;
    }

    &-input:focus-within {
    border: $accent-border;
    outline: $outline;
    }

    &-input:focus-within+ &-icon {
    fill: $fill;
    }

    &-icon {
    position: $secondary-position;
    width: $icon-width;
    height: $icon-height;
    top: $top;
    margin-left: $margin-left;
    transition: $sec-transition;
    }
}

.comment-input {
    padding: $padding;
    height: $comm-height;
    margin-bottom: $comm-margin-bottom;
    margin-top: $margin-top;
    resize: $resize;
    border: $border;
    border-radius: $border-radius;
    color: $comm-color;
}

.comment-input:focus-within {
    border: $accent-border;
    outline: $outline;
}

