/* Hero-title */

$max-width: 696px;
$font-weight: 900;
$font-size: 44px;
$margin: 0 auto 30px;
$line-height: 1.36;
$letter-spacing: 0.06em;
$text-transform: uppercase;
$color: #ffffff;

.hero-title {
    max-width: $max-width;
    font-weight: $font-weight;
    font-size: $font-size;
    margin: $margin;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $color;
}