/* Site-nav */

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    & .list {
    position: relative;
    margin-left: 93px;
    padding-left: 0;
    }

    & .item {
    margin-right: 50px;
    }

    & .item:last-child {
    margin-right: 0;
    }

    & .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    transition: color 250ms var(--transition-timing-function);
    }

    & .link:hover,
    & .link:focus {
    color: var(--accent-color);
    }
}
