/* Site-connect */

$display: flex;
$align-items: center;
$margin-left: auto;
$first-margin-right: 50px;
$last-margin-right: 0px;
$font-weight: 500;
$font-size: 14px;
$line-height: 1.4;
$letter-spacing: 0.02em;
$color: #757575;
$accent-color: #2196f3;
$transition: color 250ms var(--transition-timing-function);

.site-connect.list {
    display: $display;
    align-items: $align-items;
    margin-left: $margin-left;

    &__item {
        margin-right: $first-margin-right;
    }

    &__item:last-child {
        margin-right: $last-margin-right;
    }

    &__link {
        display: $display;
        align-items: $align-items;
        font-weight: $font-weight;
        font-size: $font-size;
        line-height: $line-height;
        letter-spacing: $letter-spacing;
        color: $color;
        transition: $transition;
    }

    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }
}