/* Socialnet */

.team-socialnet-list .list {
    display: flex;
    margin-bottom: 35px;
    gap: 10px;
    justify-content: center;
    background-color: var(--white-color);
}

.team-socialnet-item {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    justify-content: center;
    align-items: center;
}

.team-socialnet-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms var(--transition-timing-function);
}

.team-socialnet-link:hover,
.team-socialnet-link:focus {
    background-color: var(--accent-color);
}

.team-socialnet-link:hover .team-icon,
.team-socialnet-link:focus .team-icon {
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: var(--current-color);
    transition: fill, background-color 250ms var(--transition-timing-function);
}